@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    .text-gradient {
        @apply bg-gradient-to-r from-color1 via-color2 to-color3 bg-clip-text text-transparent
    }
}

.max-container {
    max-width: 1200px;
    margin: 0 auto;
}
.min-padding-x {
    padding-left: 1.5em;
    padding-right: 1.5em;
}