@tailwind base;
@tailwind components;
@tailwind utilities;

.max-container {
    max-width: 1200px;
    margin: 0 auto;
}
.min-padding-x {
    padding-left: 1.5em;
    padding-right: 1.5em;
}
.bgontext {
    background: linear-gradient(to right, #f4f, #66f, #0af);
    background-clip: text;
    color: transparent;
}